In [1]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import os
import time
import pickle
import random
import numpy as np
import sys
import glob
import pandas as pd

In [2]:
wepick_data_header = [
"v", "u", "seq", "rgtme", "dt", "label", "av", "bq", "dn", "dot", "dv", "dvcid", "g", "lid0",
"lid1", "lid2", "s", "ci", "dgid", "ef", "ls", "pe", "po", "pot", "ps", "set", "sst", "st",
"ti1", "ti2", "ti3", "ti4", "ti5", "tn1", "tn2", "tn3", "tn4", "tn5"
]

In [3]:
data_dir = r'c:\Users\wmp\TensorFlow\DIN_tf_eager'
dic = {}
for fname in glob.glob(os.path.join(data_dir,'*.csv')):
    df = pd.read_csv(fname, header=None, names=wepick_data_header)
    dic[fname] = df

C:\Users\wmp\Anaconda3\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
x = pd.concat(dic.values(), ignore_index=True)

In [5]:
x = x[['v','u','seq', 'rgtme','dt', 'label', 'ti1', 'ti2']]

In [6]:
# There may be NA in ti1, ti2 (배송2.0 관련?)
x = x.reset_index(drop=True)
x = x.dropna(how='any')

In [7]:
x['ti1'] = x['ti1'].astype('int64')
x['ti2'] = x['ti2'].astype('int64')

In [8]:
def build_map(df, col_name):
  key = sorted(df[col_name].unique().tolist())
  m = dict(zip(key, range(len(key))))
  df[col_name] = df[col_name].map(lambda x: m[x])
  return m, key

In [9]:
origin_x = x.copy()

In [10]:
deal_map, deal_key = build_map(x, 'v')

In [11]:
user_map, user_key = build_map(x, 'u')

In [12]:
ti1_map, ti1_key = build_map(x, 'ti1')
ti2_map, ti2_key = build_map(x, 'ti2')

In [13]:
x = x.sort_values(['u','rgtme'])
x = x.reset_index(drop=True)

In [14]:
ti1_list = np.array([x['ti1'][i] for i in range(len(deal_map))], dtype=np.int32)
ti2_list = np.array([x['ti2'][i] for i in range(len(deal_map))], dtype=np.int32)

In [15]:
x = x.drop(columns=['ti1', 'ti2', 'dt'])

In [16]:
pos = x[x['label']==1]
neg = x[x['label']==0]

In [17]:
x = pd.merge(pos, neg, on=['u','rgtme'])

In [18]:
x.head()

   v_x  u seq_x          rgtme  label_x  v_y seq_y  label_y
0  360  0     2  1523423608843      1.0  129    64      0.0
1  386  0    11  1523424295459      1.0   76    56      0.0
2  311  0    18  1523424419739      1.0  381    24      0.0
3  376  0    15  1523431012195      1.0   33    14      0.0
4  393  0    33  1523432005678      1.0  313     4      0.0

In [19]:
wepick_data = {'data':x, 
          'deal_map':deal_map, 'deal_key':deal_key,
          'user_map':user_map, 'user_key':user_key, 
          'ti1_map':ti1_map, 'ti1_key':ti1_key,
          'ti2_map':ti2_map, 'ti2_key':ti2_key,
          'ti1_list':ti1_list,
          'ti2_list':ti2_list
         }

In [20]:
with open(os.path.join(data_dir,'wepick_data.pkl'), 'wb') as f:
    pickle.dump(wepick_data, f, pickle.HIGHEST_PROTOCOL)
    f.close()

In [21]:
train_set = []
test_set = []
for u, hist in x.groupby('u'):
    pos = hist['v_x'].tolist()
    neg = hist['v_y'].tolist()
    for i in range(1, len(pos)):
        hist = pos[:i]
        if i != len(pos)-1:
            train_set.append((u, hist, pos[i], 1))
            train_set.append((u, hist, neg[i], 0))
        else:
            label = (pos[i], neg[i])
            test_set.append((u, hist, label))

In [33]:
random.seed(1234)

In [34]:
random.shuffle(train_set)
random.shuffle(test_set)

In [40]:
len(train_set), len(test_set)

(924410, 240012)

In [37]:
with open(os.path.join(data_dir,'wepick_dataset.pkl'), 'wb') as f:
    pickle.dump(train_set,f, pickle.HIGHEST_PROTOCOL)
    pickle.dump(test_set,f, pickle.HIGHEST_PROTOCOL)
    pickle.dump(ti1_list,f, pickle.HIGHEST_PROTOCOL)
    pickle.dump((len(user_map), len(deal_map), len(ti1_map)), f, pickle.HIGHEST_PROTOCOL)

## logs from training

```Epoch 16 DONE	Cost time: 5413.38
Epoch 17 Global_step 492000	Train_loss: 0.4010	Eval_GAUC: 0.8195	Eval_AUC: 0.8254
Epoch 17 Global_step 493000	Train_loss: 0.4505	Eval_GAUC: 0.8212	Eval_AUC: 0.8271
Epoch 17 Global_step 494000	Train_loss: 0.4460	Eval_GAUC: 0.8204	Eval_AUC: 0.8266
Epoch 17 Global_step 495000	Train_loss: 0.4463	Eval_GAUC: 0.8206	Eval_AUC: 0.8270
Epoch 17 Global_step 496000	Train_loss: 0.4467	Eval_GAUC: 0.8210	Eval_AUC: 0.8273
Epoch 17 Global_step 497000	Train_loss: 0.4469	Eval_GAUC: 0.8189	Eval_AUC: 0.8247
Epoch 17 Global_step 498000	Train_loss: 0.4487	Eval_GAUC: 0.8219	Eval_AUC: 0.8267
Epoch 17 Global_step 499000	Train_loss: 0.4497	Eval_GAUC: 0.8199	Eval_AUC: 0.8254
Epoch 17 Global_step 500000	Train_loss: 0.4481	Eval_GAUC: 0.8252	Eval_AUC: 0.8307
Epoch 17 Global_step 501000	Train_loss: 0.4459	Eval_GAUC: 0.8220	Eval_AUC: 0.8282
Epoch 17 Global_step 502000	Train_loss: 0.4459	Eval_GAUC: 0.8233	Eval_AUC: 0.8285
Epoch 17 Global_step 503000	Train_loss: 0.4456	Eval_GAUC: 0.8232	Eval_AUC: 0.8291
Epoch 17 Global_step 504000	Train_loss: 0.4470	Eval_GAUC: 0.8216	Eval_AUC: 0.8282
Epoch 17 Global_step 505000	Train_loss: 0.4465	Eval_GAUC: 0.8194	Eval_AUC: 0.8251
Epoch 17 Global_step 506000	Train_loss: 0.4467	Eval_GAUC: 0.8216	Eval_AUC: 0.8274
Epoch 17 Global_step 507000	Train_loss: 0.4446	Eval_GAUC: 0.8191	Eval_AUC: 0.8250
Epoch 17 Global_step 508000	Train_loss: 0.4439	Eval_GAUC: 0.8185	Eval_AUC: 0.8246
Epoch 17 Global_step 509000	Train_loss: 0.4446	Eval_GAUC: 0.8180	Eval_AUC: 0.8234
Epoch 17 Global_step 510000	Train_loss: 0.4450	Eval_GAUC: 0.8208	Eval_AUC: 0.8268
Epoch 17 Global_step 511000	Train_loss: 0.4440	Eval_GAUC: 0.8204	Eval_AUC: 0.8264```

In [60]:
x[x['u']==319894].sort_values('rgtme')

        v_x       u seq_x          rgtme  label_x  v_y seq_y  label_y
896407  372  319894     1  1523447596572      1.0  336    44      0.0
896408  372  319894     1  1523447740829      1.0  354    38      0.0
896409  313  319894     4  1523447753500      1.0  354    38      0.0

In [64]:
origin_x[origin_x['u']==17739649].sort_values('rgtme')

,v,u,seq,rgtme,dt,label,ti1,ti2
4904456,3525364,17739649,10,1523421973269,2018-04-11 13,1.0,243030109,243030100
4904457,3525364,17739649,10,1523422520864,2018-04-11 13,1.0,243030109,243030100
3205176,3527645,17739649,1,1523447596572,2018-04-11 20,1.0,243030109,243030100
3563165,3522402,17739649,44,1523447596572,2018-04-11 20,0.0,235050109,235050100
3205175,3527645,17739649,1,1523447740829,2018-04-11 20,1.0,243030109,243030100
4247512,3525124,17739649,38,1523447740829,2018-04-11 20,0.0,241020104,241020100
3832669,3521050,17739649,4,1523447753500,2018-04-11 20,1.0,243030103,243030100
4247513,3525124,17739649,38,1523447753500,2018-04-11 20,0.0,241020104,241020100

In [48]:
np.fliplr([a])[0]

array([4, 3, 2, 1])

In [67]:
deal_key[334]

3522378

In [57]:
deal_map

{1285223: 0,
 1371699: 1,
 1432589: 2,
 1432649: 3,
 1438471: 4,
 1468919: 5,
 1470891: 6,
 1523317: 7,
 1534369: 8,
 1855957: 9,
 1942015: 10,
 2040590: 11,
 2235951: 12,
 2258611: 13,
 2271029: 14,
 2388501: 15,
 2409745: 16,
 2539866: 17,
 2815821: 18,
 2827960: 19,
 2828078: 20,
 2833857: 21,
 2847768: 22,
 2991058: 23,
 3009333: 24,
 3044938: 25,
 3061867: 26,
 3068897: 27,
 3119252: 28,
 3119538: 29,
 3119665: 30,
 3182979: 31,
 3198909: 32,
 3207879: 33,
 3210699: 34,
 3238108: 35,
 3308451: 36,
 3312415: 37,
 3320424: 38,
 3337685: 39,
 3345369: 40,
 3346365: 41,
 3360824: 42,
 3395172: 43,
 3407791: 44,
 3419534: 45,
 3419838: 46,
 3424756: 47,
 3433098: 48,
 3435709: 49,
 3435712: 50,
 3435713: 51,
 3435715: 52,
 3449366: 53,
 3454797: 54,
 3460191: 55,
 3461951: 56,
 3464089: 57,
 3464309: 58,
 3466191: 59,
 3466341: 60,
 3466753: 61,
 3471308: 62,
 3471409: 63,
 3471757: 64,
 3472653: 65,
 3477356: 66,
 3478330: 67,
 3478607: 68,
 3479353: 69,
 3480103: 70,
 3480437: 71,
 3480553: 72,
 3480708: 73,
 3483094: 74,
 3483310: 75,
 3483431: 76,
 3483613: 77,
 3485494: 78,
 3485970: 79,
 3486081: 80,
 3487612: 81,
 3487760: 82,
 3488060: 83,
 3488771: 84,
 3489226: 85,
 3490100: 86,
 3490150: 87,
 3490331: 88,
 3490423: 89,
 3490880: 90,
 3491125: 91,
 3491838: 92,
 3492063: 93,
 3492158: 94,
 3493580: 95,
 3493583: 96,
 3493647: 97,
 3494051: 98,
 3494358: 99,
 3494938: 100,
 3495780: 101,
 3495953: 102,
 3498161: 103,
 3498187: 104,
 3498269: 105,
 3498872: 106,
 3499106: 107,
 3499139: 108,
 3499192: 109,
 3499593: 110,
 3499711: 111,
 3500014: 112,
 3500071: 113,
 3500355: 114,
 3501098: 115,
 3501609: 116,
 3501642: 117,
 3501691: 118,
 3501899: 119,
 3502679: 120,
 3503208: 121,
 3503234: 122,
 3503294: 123,
 3503335: 124,
 3503371: 125,
 3503845: 126,
 3503869: 127,
 3503879: 128,
 3504137: 129,
 3504188: 130,
 3504192: 131,
 3504379: 132,
 3504604: 133,
 3504778: 134,
 3504800: 135,
 3504903: 136,
 3504910: 137,
 3504972: 138,
 3505210: 139,
 3505236: 140,
 3505291: 141,
 3505439: 142,
 3505540: 143,
 3505555: 144,
 3505573: 145,
 3505619: 146,
 3505675: 147,
 3505800: 148,
 3506024: 149,
 3506162: 150,
 3506173: 151,
 3506268: 152,
 3506272: 153,
 3506322: 154,
 3506459: 155,
 3506530: 156,
 3506661: 157,
 3506674: 158,
 3506706: 159,
 3506713: 160,
 3506825: 161,
 3506893: 162,
 3506964: 163,
 3507148: 164,
 3507179: 165,
 3507204: 166,
 3507425: 167,
 3507452: 168,
 3507466: 169,
 3507522: 170,
 3507588: 171,
 3507625: 172,
 3507729: 173,
 3507760: 174,
 3507857: 175,
 3507942: 176,
 3508149: 177,
 3508227: 178,
 3508239: 179,
 3508255: 180,
 3508410: 181,
 3508506: 182,
 3508544: 183,
 3508768: 184,
 3508946: 185,
 3508976: 186,
 3508977: 187,
 3509105: 188,
 3509137: 189,
 3509158: 190,
 3509207: 191,
 3509271: 192,
 3509433: 193,
 3509504: 194,
 3509649: 195,
 3510053: 196,
 3510212: 197,
 3510215: 198,
 3510387: 199,
 3510881: 200,
 3511172: 201,
 3511206: 202,
 3511480: 203,
 3511692: 204,
 3511717: 205,
 3511986: 206,
 3512009: 207,
 3512078: 208,
 3512215: 209,
 3512292: 210,
 3512294: 211,
 3512327: 212,
 3512421: 213,
 3512477: 214,
 3512551: 215,
 3512593: 216,
 3512887: 217,
 3512937: 218,
 3512948: 219,
 3512963: 220,
 3513020: 221,
 3513027: 222,
 3513070: 223,
 3513118: 224,
 3513125: 225,
 3513190: 226,
 3513243: 227,
 3513253: 228,
 3513258: 229,
 3513262: 230,
 3513276: 231,
 3513465: 232,
 3513523: 233,
 3513533: 234,
 3513720: 235,
 3513766: 236,
 3513787: 237,
 3513822: 238,
 3513830: 239,
 3513863: 240,
 3513878: 241,
 3513919: 242,
 3513973: 243,
 3514028: 244,
 3514159: 245,
 3514233: 246,
 3514241: 247,
 3514324: 248,
 3514331: 249,
 3514358: 250,
 3514385: 251,
 3514389: 252,
 3514421: 253,
 3514459: 254,
 3514512: 255,
 3514528: 256,
 3514623: 257,
 3514733: 258,
 3514977: 259,
 3515105: 260,
 3515239: 261,
 3515414: 262,
 3515458: 263,
 3515512: 264,
 3515524: 265,
 3515531: 266,
 3515612: 267,
 3515652: 268,
 3515658: 269,
 3515664: 270,
 3515690: 271,
 3515704: 272,
 3515712: 273,
 3515873: 274,
 3515907: 275,
 3515930: 276,
 3515997: 277,
 3516021: 278,
 3516127: 279,
 3516254: 280,
 3516354: 281,
 3516557: 282,
 3516852: 283,
 3516905: 284,
 3516938: 285,
 3517002: 286,
 3517009: 287,
 3517960: 288,
 3518099: 289,
 3518367: 290,
 3518451: 291,
 3518570: 292,
 3518630: 293,
 3518662: 294,
 3518850: 295,
 3518904: 296,
 3518911: 297,
 3519047: 298,
 3519150: 299,
 3519199: 300,
 3519253: 301,
 3519272: 302,
 3519307: 303,
 3519336: 304,
 3519378: 305,
 3519493: 306,
 3520437: 307,
 3520774: 308,
 3520942: 309,
 3520946: 310,
 3520987: 311,
 3520992: 312,
 3521050: 313,
 3521079: 314,
 3521090: 315,
 3521092: 316,
 3521100: 317,
 3521251: 318,
 3521260: 319,
 3521284: 320,
 3521412: 321,
 3521451: 322,
 3521485: 323,
 3521487: 324,
 3521622: 325,
 3521638: 326,
 3521699: 327,
 3521723: 328,
 3521741: 329,
 3521785: 330,
 3521935: 331,
 3522117: 332,
 3522268: 333,
 3522378: 334,
 3522395: 335,
 3522402: 336,
 3522616: 337,
 3522873: 338,
 3522990: 339,
 3523376: 340,
 3523535: 341,
 3523891: 342,
 3524294: 343,
 3524297: 344,
 3524338: 345,
 3524476: 346,
 3524547: 347,
 3524613: 348,
 3524699: 349,
 3524748: 350,
 3524754: 351,
 3524983: 352,
 3525068: 353,
 3525124: 354,
 3525317: 355,
 3525346: 356,
 3525364: 357,
 3525500: 358,
 3525812: 359,
 3526222: 360,
 3526953: 361,
 3526985: 362,
 3527053: 363,
 3527064: 364,
 3527236: 365,
 3527240: 366,
 3527328: 367,
 3527477: 368,
 3527569: 369,
 3527575: 370,
 3527631: 371,
 3527645: 372,
 3527675: 373,
 3527824: 374,
 3527861: 375,
 3528037: 376,
 3528363: 377,
 3528550: 378,
 3528698: 379,
 3528869: 380,
 3529131: 381,
 3529165: 382,
 3529285: 383,
 3530825: 384,
 3532552: 385,
 3532655: 386,
 3532677: 387,
 3533188: 388,
 3535398: 389,
 3538332: 390,
 3538943: 391,
 3539755: 392,
 3541064: 393,
 3541339: 394,
 3544419: 395,
 3544562: 396}

In [ ]:
user_map